@use 'vars';
@use 'size';
@import './mixin';

body {
  margin: 0;
  font-family: vars.$regular-family;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1, p {
  margin: 0
}

.invisible {
  @include normalTransition(opacity);
  opacity: 0;

  &.visible {
    opacity: 1;
  }
}

a {
  text-decoration: none;
}


h1, h2, h3, h4, h5, h6 {
  font-family: vars.$header-family;
}

.header-text {
  font-family: vars.$header-family;
}

.regular-text {
  font-family: vars.$regular-family;
}

.full-page-width-container {
  width: calc(100% - 32px);
  max-width: size.$page-width;
  margin: auto;
}

.container-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
}

.phone-number-button-container {
  a {
    font-family: vars.$regular-family;
    color: vars.$dark;
    font-size: size.$small-3;
    border: 1px solid vars.$white;
    border-radius: 1000px;
    padding: size.$small-3 size.$large;
  }
}