$page-width: 1456px;
$max-width: 95vw;

$tiny: 4px;
$small: 8px;
$small-3: 12px;
$small-2: 18px;
$medium: 24px;
$medium-2: 36px;
$medium-3: 30px;
$large: 48px;
$large-2: 72px;
$extra-large: 96px;

$negative-tiny: -4px;

$tablet-width: 1100px;
$mobile-width: 768px;
$mobile-small: 400px;