
// families
$header-family: "Exo 2";
$regular-family: Montserrat;

// colors
$dark: #2E282A;
$dark-blue: #172A46;
$light-blue-2: #CADEFC;
$light-blue-1: #B2EBFF;
$light-blue: #A2C9F4;
$brown: #BEA28C;
$light-brown: #D2C5B5;
$white: #fff;
$light-white: #F4FEFF;
$green: #84E0CB;

