@use 'header';
@use 'size';
@use 'vars';


.fifth-page{
    width: 100%;
    position: relative;
    padding-bottom: 100px;
    /*background-color: #FFFFFF;*/
  }
  
  .fifth-page-container {
    position: relative;
  
    /*background-image: url(../img/krest.png);
    background-repeat: no-repeat;
    background-position: 98% 40%;*/
  }

  @media (max-width: size.$mobile-width) {
    .slider__control_right1 {
      right: 27.5vw;
  }
  }

  @media (max-width: size.$mobile-small) {
    .slider__control_right1 {
      right: 23.5vw;
  }
  }