@use 'header';
@use 'size';
@use 'vars';

.second-page-container {
  position: relative;
  background-image: url(../img/steps-second-page.svg);
  background-repeat: no-repeat;
  background-position: 100% 80%;
}

.second-page {
  width: 100%;  
  /*position: relative;*/
  background-color: #ffffff;
  background-image: url(../img/background_second_page.png);
  background-size: cover;
  background-repeat: no-repeat;
  /*height: 100vh;*/
}

.second-page-info-container {
  float:left;
  padding-left: 100px;
  max-width: 500px;
  flex: 0px;
  h1 {
    padding-top: 50px;
    font-size: size.$medium-4;
    color: vars.$dark-blue;
    font-weight: 800;
  }

  p {
    color: vars.$white;
    font-size: size.$medium-2;
  }

  .top-section-subtitle {
    margin-top: size.$medium;
  }
}

.phone-number-button-container-second-page{
    float: right;
    /*padding: 56px 80px 8px;*/
     max-width: 500px;
     opacity: .8;
     padding-left: 8px;
     padding-top: 23px;
  a {
    font-family: vars.$regular-family;
    color: vars.$dark;
    font-size: 1em;
    border: 2px solid vars.$white;
    border-radius: 15px;
    background: vars.$light-blue-1;
    padding: 16px 23px 12px 48px;
    position: relative;  
      svg {
        width: 15px;
        height: 15px;
        position: absolute;
        left: 24px;
        top: 13px;
      }
    }
}

.dog-1{
  position: relative;
  background-image: url(../img/SECOND-PAGE-DOG-1.svg);
  h1{
    font-family: vars.$regular-family;
    font-size: size.$small-2;
    color: #ffffff;
    position: relative;
    
  }
}

.dog-2{
  width: 100%;
  position: relative;
  background-image: url(../img/second-page-dog-2.svg);
  background-repeat: no-repeat;
  h1{
    font-family: vars.$regular-family;
    font-size: size.$small-2;
    color: #ffffff;
    position: relative;
    
  }
  
}

.dog-3{
  width: 100%;
  position: relative;
  /*left: 504px;
  top: -432px;
  margin-left: 400px;
  padding-top: 316px;*/
  background-image: url(../img/second-page-dog-3.svg);
  background-repeat: no-repeat;
 /* background-size: 252px 316px;
  max-width: 700px;*/
  h1{
    font-family: vars.$regular-family;
    font-size: size.$small-2;
    color: #ffffff;
    position: relative;
  
  }
  
}

.dog-4{
  width: 100%;
  position: relative;
  background-image: url(../img/second-page-dog-4.svg);
  background-repeat: no-repeat;
  /*background-size: 252px 316px;
  max-width: 700px;*/
  h1{
    font-family: vars.$regular-family;
    font-size: size.$small-2;
    color: #ffffff;
    position: relative;
  }
  
}

.dog-5{
  width: 100%;
  position: relative;
  background-image: url(../img/second-page-dog-5.svg);
  background-repeat: no-repeat;
  h1{
    font-family: vars.$regular-family;
    font-size: size.$small-2;
    color: #ffffff;
    position: relative;
    top:119px;
    left:4px;
  }
}  

  .dog-6{
  width: 100%;
  position: relative;
  background-image: url(../img/second-page-dog-5.svg);
  background-repeat: no-repeat;
  h1{
    font-family: vars.$regular-family;
    font-size: size.$small-2;
    color: #ffffff;
    position: relative;
    top:119px;
    left:4px;
  }
} 
  .dog-2{
    width: 100%;
    position: relative;
    left: 252px;
    top: -116px;
    margin-left: 150px;
    padding-top: 316px;
    background-image: url(../img/second-page-dog-2.svg);
    background-repeat: no-repeat;
    background-size: 252px 316px;
    max-width: 252px;
    h1{
      font-family: vars.$regular-family;
      font-size: size.$small-2;
      color: #ffffff;
      position: relative;
      top:119px;
      left:16px;
    }
    
  }
  
  .dog-3{
    width: 100%;
    position: relative;
    left: 504px;
    top: -432px;
    margin-left: 200px;
    padding-top: 316px;
    background-image: url(../img/second-page-dog-3.svg);
    background-repeat: no-repeat;
    background-size: 252px 316px;
    max-width: 252px;
    h1{
      font-family: vars.$regular-family;
      font-size: size.$small-2;
      color: #ffffff;
      position: relative;
      top:119px;
      left:4px;
    }
    
  }
  


@media (max-width: size.$mobile-width) {
  .links-container {
    display: none;
  }

  .top-section-subtitle {
    display: none;
  }

  .top-section-title {
    h1 {
      font-size: 4em;
      text-align: center;
      line-height: 1.2;
      letter-spacing: 1px;
      font-weight: 800;
    }
  }

  .top-section-info-container {
    padding-top: size.$large;
    padding-bottom: 150px;
    
    .appointment-button-container {
      text-align: center;
    }
  }
}


@media (max-width: 845px) {

  .phone-number-button-container-second-page{
    opacity: 0.8;
    padding-top: 23px;
  
  a {
    font-family: vars.$regular-family;
    color: vars.$dark;
    font-size: 1em;
    border: 2px solid vars.$white;
    border-radius: 15px;
    background: vars.$light-blue-1;
    padding: 16px 23px 12px 48px;
    position: relative;  
      svg {
        width: 15px;
        height: 15px;
        position: absolute;
        left: 24px;
        top: 13px;
      }
    }
  }
  }