@use 'header';
@use 'size';
@use 'vars';

.third-page{
  width: 100%;
  position: relative;
  background-color: #F2F2F2;
  box-shadow: inset 0px 0px 10px rgba(0,0,0,0.4);
}

.third-page-container {
  position: relative;
  background-image: url(../img/krest.png);
  background-repeat: no-repeat;
  background-position: 98% 40%;
}



.simptoms-container {
    margin-top: 30px;
  }
  

  .simptoms-button {
    cursor: pointer;
    
    padding: 0.8vw 1.8vw;
    text-align: center;
    width: 100%;
    height: auto;
    border-radius: 15px;
    opacity: .8;
    background:  #B2EBFF;
    border: none;
    
    h1{
      color: #2E282A;
      font-family: 'Montserrat';
      font-weight: 600;
      font-size: 0.8vw;
    }
  }

  

  .button-text-2{
    margin: auto;
  }
  .button-text-3{
    margin: auto;
    padding-top: 5px;
  }

  .button-text-4{
    margin: auto;
    padding-top: 5px;
  }

  .vl {
    margin: auto;
    padding-left: 16px;
    border-right: 1px solid black;
    height: 38%;
    padding-bottom: 23px;
}

.appointment-button-container-doctor {
  margin-top: 30px;
  /*padding-left: 40px;*/
  float: right;
  padding-bottom: 40px;

}

.appointment-button-doctor {
  width: 100%;
  height: auto;
  color: vars.$dark;
  cursor: pointer;
  font-size: 1.5em;
  border-radius: 1em;
  opacity: .8;
  background: vars.$light-blue-1;
  border: none;
  font-family: vars.$regular-family;
  font-weight: 600;
  padding: size.$medium size.$large-2;
}

.article-doctor{
  height: auto;
  width: 80%;
}


@media (max-width: size.$mobile-width) {

.appointment-button-doctor {
    width: 80%;
    height: auto;
    color: #2E282A;
    cursor: pointer;
    font-size: 1.5em;
    border-radius: 1em;
    opacity: 0.8;
    background: #B2EBFF;
    border: none;
    font-family: Montserrat;
    font-weight: 600;
    padding: 24px 72px;
}
}

@media (max-width: size.$mobile-small) {


  .grid-doctor {
    /* max-width: 1050px; */
    display: grid;
    margin: auto;
    padding: 50px 0px 50px 0px;
    grid-template-columns: repeat(auto-fill, minmax(261px, 1fr));
    align-items: start;

  }
  .appointment-button-doctor {
    width: 80%;
    height: auto;
    color: #2E282A;
    cursor: pointer;
    font-size: 1em;
    border-radius: 1em;
    opacity: 0.8;
    background: #B2EBFF;
    border: none;
    font-family: Montserrat;
    font-weight: 600;
    padding: 24px 72px;
}

.grid-box h1 {
  font-size: 2em;
}
}