.simptoms-container {
    margin-top: 30px;
  }
  
  .asimptoms-button {
    color: vars.$dark;
    cursor: pointer;
    font-size: size.$medium;
    border-radius: 15px;
    opacity: .8;
    background: vars.$light-blue-1;
    border: none;
    font-family: vars.$regular-family;
    font-weight: 600;
    padding: size.$medium size.$large-2;
  }